<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


</head>

<body class="body-racc">

    <header class="header">
   
 
        <!--   <i class='bx bx-menu' id="menu-icon"></i> -->
    </header>
    <section id="home">
        <div class="home-content">
            <h1>"Bienvenido, A TechMegaStore" </h1>
            <br>
            <br>
            <h1>Conoce Todas Las Novedades<span id="name"></span> </h1>
            <!-- <h1>Conoce Todas &apos; Las Novedades <span id="name"></span> </h1> -->
            <br>
            <br>
            <div class="imf">Elaborado Por Marco Santiago</div> 
        </div>
    </section>

</body>

